@charset "UTF-8";
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  background-color: #fff;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3559322034vw;
  }
}
@media (min-width: 1180px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-access-top {
  margin-top: 60px;
  margin-top: 3.75rem;
}

.l-button {
  text-align: center;
  margin: 0 auto;
}

.l-footer-spa {
  margin-top: 96.5px;
  margin-top: 6.03125rem;
}

.l-footer-sub {
  margin-top: 150px;
  margin-top: 9.375rem;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.l-inner {
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1230px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-plan-top {
  margin-top: 78px;
  margin-top: 4.875rem;
}

.l-spa {
  margin-bottom: 96.5px;
  margin-bottom: 6.03125rem;
}

.c-breadcrumb__item {
  display: inline;
}

.c-breadcrumb__item::after {
  content: ">";
  padding: 0 9px;
  padding: 0 0.5625rem;
}

.c-breadcrumb__item:last-child::after {
  content: "";
}

.c-button {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  min-width: 200px;
  min-width: 12.5rem;
  padding: 1.25em 2.75em;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
}

.c-button--reserve {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-button--reserve {
    display: inline-block;
    color: #fff;
    background-color: #978f10;
    text-align: center;
    min-width: 10.625rem;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 0.5em;
    padding-bottom: 1em;
    position: relative;
  }
}

.c-button--reserve::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 26px;
  left: 1.625rem;
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
  background: url(../images/common/calender.svg) no-repeat center center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-button--reserve_sp {
  display: inline-block;
  color: #fff;
  background-color: #978f10;
  text-align: center;
  min-width: 170px;
  min-width: 10.625rem;
  width: 70vw;
  margin: 0 auto;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  position: relative;
}

.c-button--reserve_sp::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 26px;
  left: 1.625rem;
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
  background: url(../images/common/calender.svg) no-repeat center center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-card__img {
  position: relative;
  padding-top: 63.141994%;
}

.c-card__img img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__body {
  padding-top: 32px;
  padding-top: 2rem;
}

.c-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
}

.c-card__text {
  padding-top: 36px;
  padding-top: 2.25rem;
}

.c-hamburger {
  position: relative;
  cursor: pointer;
  max-width: 29px;
  max-width: 1.8125rem;
  width: 100%;
  height: 20px;
  height: 1.25rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger.is-open span {
  background-color: #000;
}
.c-hamburger.is-open span:nth-child(1) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.c-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.c-hamburger.is-open span:nth-child(3) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.c-hamburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 0.0625rem;
  height: 2px;
  height: 0.125rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #fff;
  max-width: 29px;
  max-width: 1.8125rem;
  width: 100%;
}
.c-hamburger span:nth-child(2) {
  top: 10px;
  top: 0.625rem;
}
.c-hamburger span:nth-child(3) {
  top: 20px;
  top: 1.25rem;
}
.c-hamburger span.is-scrolled {
  background-color: #000;
}

.c-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-tab__item {
  padding-right: 53px;
  padding-right: 3.3125rem;
}

.c-tab__item a.is-active {
  border-bottom: 1px solid #707070;
  padding-bottom: 0.5px;
  padding-bottom: 0.03125rem;
}

.c-tab__item + .c-tab__item {
  padding-right: 0;
  padding-right: initial;
}

.c-section-title__img {
  margin: 0 auto;
  width: 40px;
  width: 2.5rem;
}

.c-section-title__img img {
  width: 100%;
}

.c-section-title__heading {
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1;
  padding-top: 20px;
  padding-top: 1.25rem;
}

.p-access__container {
  padding-bottom: 110px;
  padding-bottom: 6.875rem;
  background: url(../images/common/bg.jpg) no-repeat center center/cover;
}

.p-access__section-title {
  padding-top: 60px;
  padding-top: 3.75rem;
}

.p-access__contents {
  margin-top: 84px;
  margin-top: 5.25rem;
}
@media screen and (min-width: 768px) {
  .p-access__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-access__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.5932203%;
          flex: 0 1 55.5932203%;
}

.p-access__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 6.3846154%;
}

.p-access__address-title {
  padding-top: 24px;
  padding-top: 1.5rem;
  font-weight: 700;
}

.p-access__address-text {
  padding-top: 24px;
  padding-top: 1.5rem;
}

.p-access__map-wrap {
  margin-top: 69px;
  margin-top: 4.3125rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 67.1186441%;
}

.p-access__map-wrap::before {
  content: "";
  display: block;
  padding-top: 74.7474747%;
}

.p-access__map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .p-cards__item {
    width: calc(33.33333% - 3.91667rem);
    margin-right: 5.875rem;
  }
}

.p-cards__item + .p-cards__item {
  margin-top: 94px;
  margin-top: 5.875rem;
}
@media screen and (min-width: 768px) {
  .p-cards__item + .p-cards__item {
    margin-top: 0;
    margin-top: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-cards__item:nth-child(3n) {
    margin-right: 0;
  }
}

.p-concept__container {
  background: url(../images/common/bg.jpg) no-repeat center center/cover;
}

.p-concept__inner {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 149px;
  padding-top: 9.3125rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 168px;
  padding-bottom: 10.5rem;
}
@media screen and (min-width: 768px) {
  .p-concept__inner {
    max-width: none;
    max-width: initial;
  }
}

.p-concept__title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-concept__title {
    text-align: left;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    line-height: 2;
    letter-spacing: 0.5em;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__title:first-of-type {
    margin-top: -3.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__title:last-of-type {
    margin-left: 7.375rem;
  }
}

.p-concept__body {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-concept__body {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    max-width: 65.625rem;
    width: 100%;
    height: 28.5rem;
  }
}

.p-concept__text {
  margin-top: 59px;
  margin-top: 3.6875rem;
  line-height: 3;
  letter-spacing: 0.5em;
}
@media screen and (min-width: 768px) {
  .p-concept__text {
    margin-top: 0;
    margin-top: initial;
    margin-left: 7.375rem;
  }
}

.p-concept__text + .p-concept__text {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-concept__text + .p-concept__text {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-concept__author {
  margin-top: 30px;
  margin-top: 1.875rem;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.5em;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .p-concept__author {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-footer-nav__items {
  color: #000;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer-nav__item {
  padding: 0 17px;
  padding: 0 1.0625rem;
}

.p-footer-nav__item a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
  letter-spacing: 0.5em;
}

.p-footer__bg-container {
  background: url(../images/common/bg3.jpg) no-repeat center center/cover;
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 61px;
  padding-bottom: 3.8125rem;
}

.p-footer__logo {
  margin: 96px auto 0;
  margin: 6rem auto 0;
  width: 145px;
  width: 9.0625rem;
}

.p-footer__address-wrapper {
  padding-top: 72px;
  padding-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__address {
  letter-spacing: 0.2em;
  padding-left: 21px;
  padding-left: 1.3125rem;
}

.p-footer__tel-wrapper {
  padding-top: 23px;
  padding-top: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer__fax {
  padding-left: 20px;
  padding-left: 1.25rem;
}

.p-footer__copyright-container {
  text-align: center;
  padding: 23px 0;
  padding: 1.4375rem 0;
  background-color: #000;
}

.p-footer__copyright {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}

.p-header {
  height: 80px;
  height: 5rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.p-header__inner {
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-header__inner--bg {
  background-color: #fff;
}

.p-header__wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-header__logo {
  height: inherit;
}

.p-header__logo a {
  display: block;
  width: 150px;
  width: 9.375rem;
  height: inherit;
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .p-header__logo a {
    width: 12.5rem;
  }
}

.p-header__logo--bg_top a {
  background: url(../images/common/top-header-logo.svg) no-repeat center center/contain;
}

.p-header__logo--bg_top a.is-scrolled {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background: url(../images/common/sub-header-logo.svg) no-repeat center center/contain;
}

.p-header__hamburger--bg_sub span {
  background-color: #000;
}

.p-header__pc-nav {
  margin-left: 105px;
  margin-left: 6.5625rem;
}

p-header__pc-nav--color_sub {
  color: #000;
}

.p-header__logo--bg_sub a {
  background: url(../images/common/sub-header-logo.svg) no-repeat center center/contain;
}

.p-header__logo--bg_sub a.is-open {
  background: url(../images/common/top-header-logo.svg) no-repeat center center/contain;
}

.p-media__item {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .p-media__item {
    max-width: none;
    max-width: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-left: initial;
    padding-right: 0;
    padding-right: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-media__item + .p-media__item {
    margin-top: 8.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-media__img {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44.4915254%;
            flex: 0 1 44.4915254%;
  }
}

.p-media__img img {
  width: 100%;
}

.p-media__body {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-right: 68px;
  padding-right: 4.25rem;
  padding-bottom: 110px;
  padding-bottom: 6.875rem;
}
@media screen and (min-width: 768px) {
  .p-media__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url(../images/common/bg.jpg) no-repeat center center/cover;
    position: relative;
    top: 3.5625rem;
    width: calc(55.50847% + 9.875rem);
    margin-left: -9.875rem;
    padding-left: 14.875rem;
  }
}

.p-media__title {
  margin-top: 1px;
  margin-top: 0.0625rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}

.p-media__text {
  margin-top: 52px;
  margin-top: 3.25rem;
  line-height: 2;
}

.p-media__text--small {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 52px;
  margin-top: 3.25rem;
}

.p-media__item--row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-media__body--row_reverse {
  margin-left: 0;
  margin-left: initial;
}
@media screen and (min-width: 768px) {
  .p-media__body--row_reverse {
    margin-right: -9.875rem;
    padding-right: 18.125rem;
    margin-left: 0;
    margin-left: initial;
    padding-left: 3.75rem;
  }
}

.p-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}

.p-modal__bg {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.p-modal__body {
  position: relative;
  background-color: #fff;
  max-width: 550px;
  max-width: 34.375rem;
  width: 100%;
  padding-top: 29px;
  padding-top: 1.8125rem;
  padding-bottom: 90px;
  padding-bottom: 5.625rem;
  margin-top: 100px;
  margin-top: 6.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-modal__body {
    margin: 15.125rem auto 0;
  }
}

.p-modal__close {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  top: 1.25rem;
  right: 20px;
  right: 1.25rem;
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem;
  background: url(../images/common/close.svg) no-repeat center center/contain;
}

.p-modal__inner {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .p-modal__inner {
    max-width: 26.8125rem;
    margin: 0 auto;
  }
}

input[tupe=text] {
  border: 1px solid #e7e7e7;
}

.p-modal__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.p-modal__item {
  margin-top: 14px;
  margin-top: 0.875rem;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-modal__item {
    margin-top: 2.21875rem;
  }
}

.p-modal__item + .p-modal__item {
  margin-top: 0;
  margin-top: initial;
}

.p-modal__label {
  display: inline-block;
}

.p-modal__form input[type=text],
.p-modal__form input[type=email],
.p-modal__form select {
  margin-top: 14px;
  margin-top: 0.875rem;
  padding: 10px;
  padding: 0.625rem;
  border: 1px solid #e7e7e7;
  width: 100%;
}

.p-modal__form select:invalid {
  color: #797878;
}

.form textarea {
  padding: 10px;
  height: 100px;
  font-size: 14px;
  width: 65%;
}

.p-modal__item--submit {
  margin-top: 64px;
  margin-top: 4rem;
  text-align: center;
}

.p-modal__form input[type=submit] {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  min-width: 200px;
  min-width: 12.5rem;
  padding: 1.25em 2.75em;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
  padding-top: 13px;
  padding-top: 0.8125rem;
  padding-bottom: 13px;
  padding-bottom: 0.8125rem;
  line-height: 1;
}

.p-mv {
  position: relative;
  height: 100vh;
}

.p-mv__img {
  width: 100%;
  height: 100vh;
}

.p-mv__img img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mv__block {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 33%;
  right: 26%;
}

.p-mv__title {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 2.1;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 2.125rem;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .p-mv__img,
.swiper-slide-duplicate-active .p-mv__img,
.swiper-slide-prev .p-mv__img {
  -webkit-animation: zoomUp 10s linear 0s;
          animation: zoomUp 10s linear 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-news__section-title {
  margin-top: 60px;
  margin-top: 3.75rem;
}

.p-news__tab {
  margin: 46px auto 0;
  margin: 2.875rem auto 0;
}

.p-news__items-wrapper {
  margin-top: 49px;
  margin-top: 3.0625rem;
}

@media screen and (min-width: 768px) {
  .p-news__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-news__item {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 39px 15px 10px;
  padding: 0.9375rem 2.4375rem 0.9375rem 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-news__item {
    width: calc(50% - 1.4375rem);
    margin-right: 2.875rem;
  }
}

.p-news__item + .p-news__item {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-news__item + .p-news__item {
    margin-top: 0;
    margin-top: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-news__item:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-news__item:nth-child(n+3) {
    margin-top: 1.25rem;
  }
}

.p-news__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.0701754%;
          flex: 0 1 18.0701754%;
  position: relative;
  width: 100%;
}

.p-news__img::before {
  content: "";
  display: block;
  padding-top: 97.0873786%;
}

.p-news__img img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.p-news__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5.2631579%;
}

.p-news__body > *:last-child {
  margin-bottom: 0;
}

.p-news__date {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-news__text {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-news__items-wrapper {
  display: none;
}

.p-news__items-wrapper.show {
  display: block;
}

.p-pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pc-nav {
    display: block;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: #fff;
  }
}

.p-pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-pc-nav__item {
  padding: 0 15px;
  padding: 0 0.9375rem;
}

.p-pc-nav__item--color_sub {
  color: #000;
}

.p-plan__container {
  padding-bottom: 144px;
  padding-bottom: 9rem;
  background: url(../images/common/bg02.jpg) no-repeat center center/cover;
}

.p-plan__section-title {
  padding-top: 60px;
  padding-top: 3.75rem;
}

.p-plan__cards {
  margin-top: 66px;
  margin-top: 4.125rem;
}

.p-service__items {
  padding-top: 105px;
  padding-top: 6.5625rem;
}

.p-service__item + .p-service__item {
  margin-top: 122px;
  margin-top: 7.625rem;
}

.p-service__item {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .p-service__item {
    max-width: none;
    max-width: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-left: initial;
    padding-right: 0;
    padding-right: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-service__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 54.6875%;
            flex: 0 1 54.6875%;
  }
}

.p-service__img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-service__body {
    margin-left: 7.1354167vw;
  }
}

.p-service__title {
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.7;
}

.p-service__text {
  margin-top: 75px;
  margin-top: 4.6875rem;
  line-height: 2;
}

.p-service__button {
  margin-top: 75px;
  margin-top: 4.6875rem;
}

.p-service__item--row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-service__body--row_reverse {
  margin-right: 7.1354167vw;
}

.p-service__button {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-service__button {
    text-align: left;
  }
}

.pc-br {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-br {
    display: block;
  }
}

.p-sp-nav {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  width: 100%;
  height: 100vh;
}

.p-sp-nav__items {
  padding-top: 125px;
  padding-top: 7.8125rem;
}

.p-sp-nav__item {
  width: 100%;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
}

.p-sp-nav__item a {
  display: block;
  text-align: center;
}

.p-sub-mv {
  height: 550px;
  height: 34.375rem;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.p-sub-mv__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 34px;
  font-size: 2.125rem;
  text-align: center;
  font-weight: 700;
  padding-top: 50px;
  padding-top: 3.125rem;
}

.p-sub-page__breadcrumb {
  margin-top: 36px;
  margin-top: 2.25rem;
}

.p-sub-page__title {
  text-align: center;
  margin-top: 98px;
  margin-top: 6.125rem;
  line-height: 2;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

.p-sub-page__media {
  margin-top: 78px;
  margin-top: 4.875rem;
}
/*# sourceMappingURL=styles.css.map */
