@charset "UTF-8";
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3559322034vw;
  }
}
@media (min-width: 1180px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1230px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-button {
  text-align: center;
  margin: 0 auto;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #000;
  color: #fff;
}

.c-button {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  width: 200px;
  width: 12.5rem;
  border: 1px solid #707070;
  border: 0.0625rem solid #707070;
}

.c-hamburger {
  position: relative;
  cursor: pointer;
  max-width: 29px;
  max-width: 1.8125rem;
  width: 100%;
  height: 20px;
  height: 1.25rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger.is-open span {
  background-color: #000;
}
.c-hamburger.is-open span:nth-child(1) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.c-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.c-hamburger.is-open span:nth-child(3) {
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.c-hamburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 0.0625rem;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  max-width: 29px;
  max-width: 1.8125rem;
  width: 100%;
}
.c-hamburger span:nth-child(2) {
  top: 10px;
  top: 0.625rem;
}
.c-hamburger span:nth-child(3) {
  top: 20px;
  top: 1.25rem;
}

.title__img-wrapper {
  text-align: center;
  width: 40px;
  width: 2.5rem;
}

.title {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1;
}

.p-header {
  height: 80px;
  height: 5rem;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}

.p-header__logo {
  height: inherit;
}

.p-header__link {
  display: block;
  width: 150px;
  width: 9.375rem;
  height: inherit;
  position: relative;
  background: url(../images/common/top-header-logo.svg) no-repeat center center/contain;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .p-header__link {
    width: 12.5rem;
  }
}

.p-header__link.is-open {
  background: url(../images/common/sub-header-logo.svg) no-repeat center center/contain;
}

.sp-nav {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  width: 100%;
  height: 100vh;
}

.sp-nav__items {
  padding-top: 125px;
  padding-top: 7.8125rem;
}

.sp-nav__link {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.sp-nav__item--yellow {
  margin: 0 auto;
  width: 58%;
  border: 1px solid #000;
  color: #978f10;
}

.p-media {
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

.p-media__img-wrapper {
  position: relative;
  width: 100%;
}
.p-media__img-wrapper::before {
  content: "";
  display: block;
  padding-top: 51.9%;
}

.p-media__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-media__content {
  font-weight: 400;
  text-align: center;
  line-height: 1.7;
}

.p-media__text {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 2;
}

.p-mv {
  position: relative;
  height: 100vh;
}

.p-mv__img {
  width: 100%;
  height: 100vh;
}

.p-mv__img img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mv__block {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 33%;
  right: 26%;
}

.p-mv__title {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 2.1;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 2.125rem;
  }
}
/*# sourceMappingURL=styles.css.map */
