@use "global" as *;

.c-button {
  display: inline-block;
  padding: rem(10) rem(40);
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: rem(24);
  position: relative;
}
.c-button::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: rem(11);
  width: rem(12);
  height: rem(12);
  background: transparent url(../images/top/icon-arrow-blue-btn.svg) no-repeat center center / cover;
}

.c-button:hover {
  transition: all 0.3s;
  color: $white;
  background-color: $blue;
}

.c-button:hover::after {
  background: transparent url(../images/top/arrow-right-white.svg) no-repeat center center / cover;
}
