@use "global" as *;

.c-card {
  padding-left: $padding-sp;
  padding-right: $padding-sp;
}
.c-card__img-wrapper {
  position: relative;
  padding-top: 63.141994%;
}

.c-card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  object-fit: cover;
}
.c-card__body {
  padding-top: rem(32);
}

.c-card__title {
  font-size: rem(20);
}

.c-card__text {
  padding-top: rem(36);
}
