@use "global" as *;

.c-tab {
  display: flex;
  justify-content: center;
}

.c-tab__item {
  padding-right: rem(53);
}

.c-tab__item a.is-active {
  border-bottom: 1px solid #707070;
  padding-bottom: rem(0.5);
}

.c-tab__item + .c-tab__item {
  padding-right: initial;
}
