@use "global" as *;

.p-concept__container {
  background: url(../images/common/bg.jpg) no-repeat center center / cover;
}

.p-concept__inner {
  padding-top: rem(149);
  padding-bottom: rem(77);
}

.p-concept__body {
  margin: 0 auto;
  @include mq("md") {
    writing-mode: vertical-rl;
    max-width: rem(1050);
    width: 100%;
    height: rem(456);
    padding-right: rem(38);
  }
}
.p-concept__title {
  font-size: rem(28);
  font-weight: $medium;
  text-align: center;
  line-height: 2;
  @include mq("md") {
    text-align: left;
    writing-mode: vertical-rl;
    line-height: 2.2;
    letter-spacing: 0.5em;
    margin-top: rem(-84);
  }
}

.p-concept__title + .p-concept__title {
  @include mq("md") {
    margin-top: initial;
    // margin-left: rem(118);
  }
}

.p-concept__text {
  padding-top: rem(59);
  padding-right: rem(87);
  line-height: 2.4;
  letter-spacing: 0.38em;
  text-orientation: upright;
  @include mq("md") {
    padding-top: initial;
  }
}

.p-concept__text + .p-concept__text {
  padding-top: rem(30);
  @include mq("md") {
    padding-top: initial;
    padding-right: rem(95);
  }
}

.p-concept__author {
  padding-top: rem(30);
  font-size: rem(22);
  letter-spacing: 0.5em;
  text-align: right;
  @include mq("md") {
    padding-top: initial;
    padding-right: rem(102);
    padding-bottom: rem(30);
  }
}
