@use "global" as *;

.p-concept__container {
  background: url(../images/common/bg.jpg) no-repeat center center / cover;
}

.p-concept__inner {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  padding-top: rem(149);
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  padding-bottom: rem(168);
  @include mq("md") {
    max-width: initial;
  }
}

.p-concept__title {
  font-size: rem(28);
  font-weight: $medium;
  text-align: center;
  line-height: 2;
  @include mq("md") {
    text-align: left;
    writing-mode: vertical-rl;
    line-height: 2;
    letter-spacing: 0.5em;
  }
}

.p-concept__title:first-of-type {
  @include mq("md") {
    margin-top: rem(-50);
  }
}

.p-concept__title:last-of-type {
  @include mq("md") {
    margin-left: rem(118);
  }
}

.p-concept__body {
  margin: 0 auto;
  @include mq("md") {
    writing-mode: vertical-rl;
    max-width: rem(1050);
    width: 100%;
    height: rem(456);
  }
}

.p-concept__text {
  margin-top: rem(59);
  line-height: 3;
  letter-spacing: 0.5em;
  @include mq("md") {
    margin-top: initial;
    margin-left: rem(118);
  }
}

.p-concept__text + .p-concept__text {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: initial;
  }
}

.p-concept__author {
  margin-top: rem(30);
  font-size: rem(22);
  letter-spacing: 0.5em;
  text-align: right;
  @include mq("md") {
    margin-top: initial;
  }
}
