@use "global" as *;

.p-footer__bg-container {
  background: url(../images/common/bg3.jpg) no-repeat center center / cover;
  padding-top: rem(64);
  padding-bottom: rem(61);
}

.p-footer__logo {
  margin: rem(96) auto 0;
  width: rem(145);
}

.p-footer__address-wrapper {
  padding-top: rem(72);
  display: flex;
  justify-content: center;
}

.p-footer__address {
  letter-spacing: 0.2em;
  padding-left: rem(21);
}

.p-footer__tel-wrapper {
  padding-top: rem(23);
  display: flex;
  justify-content: center;
}

.p-footer__fax {
  padding-left: rem(20);
}

.p-footer__copyright-container {
  text-align: center;
  padding: rem(23) 0;
  background-color: $black;
}

.p-footer__copyright {
  font-size: rem(12);
  color: $white;
}
