@use "global" as *;
.p-header {
  height: rem(80);
  transition: background-color 0.5s;
}

.p-header__inner {
  height: inherit;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  @include mq("md") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.p-header__inner--bg {
  background-color: $white;
}
.p-header__wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-header__logo {
  height: inherit;
}
.p-header__logo a {
  display: block;
  width: rem(150);
  height: inherit;
  position: relative;
  z-index: 999;
  @include mq("md") {
    width: rem(200);
  }
}
.p-header__logo--bg_top a {
  background: url(../images/common/top-header-logo.svg) no-repeat center center/contain;
}
.p-header__logo--bg_top a.is-scrolled {
  transition: background 0.5s;
  background: url(../images/common/sub-header-logo.svg) no-repeat center center/contain;
}

.p-header__hamburger--bg_sub span {
  background-color: $black;
}
.p-header__pc-nav {
  margin-left: rem(105);
}
p-header__pc-nav--color_sub {
  color: $black;
}

.p-header__logo--bg_sub a {
  background: url(../images/common/sub-header-logo.svg) no-repeat center center / contain;
}
.p-header__logo--bg_sub a.is-open {
  background: url(../images/common/top-header-logo.svg) no-repeat center center/contain;
}
