@use "global" as *;

.p-header {
  height: rem(60);
  transition: background-color 0.5s;
  @include mq("md") {
    height: rem(80);
  }
}

.p-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.p-header__logo {
  padding-left: rem(13);
  z-index: 200;
  @include mq("md") {
    padding-top: rem(12);
    padding-left: rem(32);
  }
}
.p-header__logo-link img {
  width: 100%;
  max-width: rem(270);
}

.p-header__hamburger {
  margin-top: rem(20);
  margin-right: rem(20);
  margin-bottom: rem(23);
}

.p-header__address-wrapper {
  padding-right: rem(40);
}

.p-header__address {
  font-size: rem(12);
  font-weight: $medium;
  text-align: right;
}

.p-header__tell-number {
  font-size: rem(32);
  color: $blue;
  font-weight: $bold;
  padding-left: rem(30);
  position: relative;
}

.p-header__tell-number::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/top/tel.svg) no-repeat center center / contain;
  width: rem(28);
  height: rem(28);
}
