@use "global" as *;

.p-plan__container {
  padding-bottom: rem(144);
  background: url(../images/common/bg02.jpg) no-repeat center center / cover;
}

.p-plan__section-title {
  // margin: 0 auto;
  padding-top: rem(60);
}

.p-plan__items {
  margin-top: rem(66);
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-plan__item {
  @include mq("md") {
    width: calc((100% - (rem(94) * 2)) / 3);
    margin-right: rem(94);
  }
}

.p-plan__item + .p-plan__item {
  margin-top: rem(94);
  @include mq("md") {
    margin-top: initial;
  }
}

.p-plan__item:nth-child(3n) {
  @include mq("md") {
    margin-right: 0;
  }
}

.p-plan__img {
  position: relative;
  padding-top: 63.141994%;
}

.p-plan__img img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  object-fit: cover;
}
.p-plan__body {
  padding-top: rem(29);
}

.p-plan__title {
  font-size: rem(20);
  font-weight: $medium;
}

.p-plan__text {
  padding-top: rem(25);
  word-break: keep-all;
  line-height: 1.9;
}

.p-plan__item:nth-child(3) .p-plan__text {
  padding-top: rem(21);
}
