@use "global" as *;

.p-plan__container {
  padding-bottom: rem(144);
  background: url(../images/common/bg02.jpg) no-repeat center center / cover;
}

.p-plan__section-title {
  // margin: 0 auto;
  padding-top: rem(60);
}

.p-plan__cards {
  margin-top: rem(66);
}
