@use "global" as *;

.p-sub-page__breadcrumb {
  margin-top: rem(33);
}

.p-sub-page__title {
  text-align: center;
  margin-top: rem(85);
  line-height: 2;
  font-size: rem(16);
  font-weight: $medium;
}

.p-sub-page__media {
  margin-top: rem(70);
}
